@import '@styles/variables.scss';

.navbarContainer {
  width: 100%;
  min-height: 3rem;
  position: absolute;
  top: 0;
  background-color: blue;
  padding: 1rem;

  @media (min-width: $mobile-width) {
    width: 80vw;
    min-height: 2rem;
  }

  .linkList {
    display: none;
    flex-direction: column;
    list-style: none;
    width: 50vw;
    margin: 0 auto;
    row-gap: 0.5rem;
    & li {
      text-align: center;
    }

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: row;
      width: 100%;
    }
  }

  .navBarBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;

        @media (min-width: $mobile-width) {
      display: none;
      pointer-events: none;
    }
  }

  .linkDisplay {
    display: flex;
  }
}
