@import '@styles/variables.scss';

.navbarContainer {
  width: 100%;
  min-height: 4.25rem;
  background-color: $navbar-bg-color;
  padding: 1rem;
  border-radius: $br-round-bottom;
  align-self: center;

  @media (min-width: $mobile-width) {
    min-height: 2rem;
  }

  .linkList {
    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0 auto;
    row-gap: 0.5rem;
    & li {
      text-align: center;
    }

    @media (min-width: $mobile-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .linkDisplay {
    display: flex;
  }
}
