// media size
$mobile-width: 500px;

// colors
$navbar-bg-color: #dd2f6a82;
$navbar-color-hover: #5c0d5cf5;
$navbar-color-active-link: #7b077bf5;

// border radius
$br-default: 0.25rem;
$br-round-bottom: 0 0 0.25rem 0.25rem;

// mixin
@mixin background($filename) {
  background: {
    image: url($filename);
    repeat: no-repeat;
    attachment: fixed;
    size: cover;
    position: center;
  }
}
